@charset "UTF-8";

:root{
    --corEscura: #2a2a2a;
    --corFundo: #233d69;
    --corFundoTitulo: #28487a;
    --corCaixas: #4275c7;
    --corDestacada: #9ab2d9;
    --preto: #000000;
    --branco: #ffffff;
}

*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--corFundo);
}

p{
    color: var(--corDestacada);
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 0.9em;
    text-align: justify;
    text-indent: 10px;
}

ol{
    margin-top: 15px;
}

ul{
    background-color: var(--corFundo);
    padding: 10px;
}

li{
    color: var(--corDestacada);
    margin-left: 20px;
    margin-bottom: 15px;
}

h1{
    color: var(--corDestacada);
    background-color: #28487a;
    margin-bottom: 15px;
    text-align: center;
}

h2{
    color: var(--corDestacada);
    background-color: #28487a;
}

h3{
    color: var(--corDestacada);
    background-color: #28487a;
}

a{
    color: var(--corDestacada);
}

legend{
    color: var(--corDestacada);
}

main{
    width: 1000px;
    border: 3px solid var(--corCaixas);
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
}

nav{
    width: 1000px;   
    border: 3px solid var(--corCaixas);
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: var(--corFundoTitulo);
    box-shadow: 0px 0px 5px 3px var(--corCaixas);
}

nav > a{
    margin: 35px;
    text-decoration: none;
    padding: auto;
}

nav > a:hover{
    transition-duration: 500ms;
    color: var(--branco);
    text-decoration: underline;
    border-radius: 30%;
}

/*  Só depois de um tempo eu notei que o fieldset bugou, provavelmente 
    por culpa do código que limpa o CSS, então peguei o código CSS padrão
    que a versão antiga do meu site tinha e colei aqui, funciona,
    mas não sei se tu aceita a gambiarra kk */
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: solid;
    border-color: var(--corCaixas);
    border-image: initial;
}